body{
    font-size: 16px;
    margin: 0;

    /* https://www.w3schools.com/htmL/html_images_background.asp */

    /* Image credit: https://wallpapercave.com/grass-type-pokemon-wallpapers */
    background-image: url(images/bg4.png);
    background-repeat: no-repeat;
    background-color: #8AB278;

    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;

    color: black;
}

.card{
    width: 75%;
    height: auto;
    margin-top: 15px;
    /* background-color: #EFFAF9; */
    background-color: #effaf95b;
    border-radius: 15px;
}
.card-body{
    background-color: #effaf95b;
    border-radius: 15px;
}

#about-section p {
    line-height: 2;
    font-size: 1.2rem;
    color: #333;
    text-align: justify;
    text-indent: 40px;
    width: 80%;
    margin: 0 auto; /* Center the text */
}

#logo{
    width: 250px;
    height: auto;
    margin: 50px 0;
}

footer{
    margin-top: 20px;
    background-color: #6d6969;
}

footer p{
    padding: 0;
    margin: 0;
}

footer a{
    text-decoration: none;
    color: rgb(163, 162, 162);
    font-weight: bold;
}

nav{
    background-color: #6d6969;
}

.my-toggle-button{
    padding: 10px;
    margin: 10px;
}

section {
    padding-top: 60px;
}

h1, h2{
    /* font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal; */

    
        font-family: "IBM Plex Mono", monospace;
        font-weight: 600;
        font-style: normal;
        
            
}

h2{
    text-align: center;
    padding: 25px 0;
}

/* For small devices such as mobile */
@media (max-width: 570px) {
    .card{
        width: 65%;
    }
}

.dropdown-menu{
    background-color: #759765;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background-color: #4c6242;
}

.expansion-logo{
    width: 35%;
    height: auto;
}

.expansion-info{
    background-color:#effaf95b;
    border-radius: 15px;
    padding: 10px;
    line-height: 2;
}
